.i-images{
  width:100%;
  height:200px;
  margin:2%;
  border-radius: 1.2%;
  border: 4px double grey;
}
*{
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .7s ease;
}

.img-cont:hover .overlay {
  width: 96%;
  left: auto;
  margin-left:20px
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
