{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container" style="margin-left:10%;margin-top:4%">
    <ul class="nav nav-tabs nav-justified">
        <li><a href="#nairobi" data-toggle='tab'>Nairobi</a></li>
        <li><a href="#dubai" data-toggle='tab'>Dubai</a></li>
        <li class="active info "><a href="#zanzibar" data-toggle='tab'>Zanzibar</a></li>
        <li><a href="#park" data-toggle='tab'>National Park</a></li>
    </ul>
    <div class="tab-content" style="margin-top:4%">

    {% for image in images %}
        {% for location in image.location.all %}
            {% if location.name == 'Nairobi' %}
                <div id="nairobi" class="col-md-4 tab-pane fade">

                        <!-- <a href="{% url 'singleimage' image.id %}">

                            <img src="{{image.pic.url}}" alt="{{image.name}}">
                          </a> -->
                          <a href="{% url 'singleimage' image.id %}">
                            <div class="img-cont">
                              <img src="{{ image.pic.url }}" class="img-responsive i-images">
                              <div class="overlay">
                                <div class="text">{{image.name}}</div>
                              </div>
                            </div>
                          </a>

                </div>

            {% elif location.name == 'Dubai' %}
            <div id="dubai" class="col-md-4 col-sm-12 tab-pane fade">
              <a href="{% url 'singleimage' image.id %}">
                <div class="img-cont">
                  <img src="{{ image.pic.url }}" class="img-responsive i-images">
                  <div class="overlay">
                    <div class="text">{{image.name}}</div>
                  </div>
                </div>
              </a>


                        <!-- <a href="{% url 'singleimage' image.id %}">

                            <img src="{{image.pic.url}}" alt="{{image.name}}">
                            </a> -->

            </div>

            {% elif location.name == 'Zanzibar' %}
            <div id="zanzibar" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
              <a href="{% url 'singleimage' image.id %}">
                <div class="img-cont">
                  <img src="{{ image.pic.url }}" class="img-responsive i-images">
                  <div class="overlay">
                    <div class="text">{{image.name}}</div>
                  </div>
                </div>
              </a>


                        <!-- <a href="{% url 'singleimage' image.id %}">

                            <img src="{{image.pic.url}}" alt="{{image.name}}">
                            <a> -->

            </div>
            {% elif location.name == 'National Park' %}
            <div id="park" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
              <a href="{% url 'singleimage' image.id %}">
                <div class="img-cont">
                  <img src="{{ image.pic.url }}" class="img-responsive i-images">
                  <div class="overlay">
                    <div class="text">{{image.name}}</div>
                  </div>
                </div>
              </a>

                        <!-- <a href="{% url 'singleimage' image.id %}">

                          <img src="{{image.pic.url}}" alt="{{image.name}}">
                          </a> -->


            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
