{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container" style="margin-left:10%; margin-left:5%; margin-top:4%">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#nairobi" data-toggle='tab'>Nairobi</a></li>
        <li><a href="#dubai" data-toggle='tab'>Dubai</a></li>
        <li><a href="#zanzibar" data-toggle='tab'>Zanzibar</a></li>
        <li><a href="#park" data-toggle='tab'>National Park</a></li>
    </ul>
    <div class="tab-content" style="margin-top:4%">

    {% for image in images %}
        {% for location in image.location.all %}
            {% if location.name == 'Nairobi' %}
                <div id="nairobi" class="col-md-3 tab-pane fade">
                    <!-- <div class="panel panel-primary">
                        <div class="panel-body"> -->
                            <img src="{{image.pic.url}}" alt="{{imag.name}}">
                        <!-- </div>

                    </div> -->
                </div>

            {% elif location.name == 'Dubai' %}
            <div id="dubai" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <!-- <div class="panel panel-primary"> -->
                        <!-- <div class="panel-body"> -->
                            <img src="{{image.pic.url}}" alt="{{image.name}}">
                        <!-- </div> -->

                    <!-- </div> -->
            </div>

            {% elif location.name == 'Zanzibar' %}
            <div id="zanzibar" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <!-- <div class="panel panel-primary"> -->
                        <!-- <div class="panel-body"> -->
                            <img src="{{image.pic.url}}" alt="{{image.name}}">
                        <!-- </div> -->
                        <!-- <div class="panel-footer">
                        </div>
                    </div> -->
            </div>
            {% elif location.name == 'National Park' %}
            <div id="park" class="col-lg-4 col-md-4 col-sm-12 tab-pane fade">
                    <!-- <div class="panel panel-primary"> -->
                        <!-- <div class="panel-body"> -->
                          <img src="{{image.pic.url}}" alt="{{image.name}}">

                        <!-- </div>
                        <div class="panel-footer">
                        </div> -->
                    <!-- </div> -->
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
