<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container" style="margin:auto;">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'welcome'%}" style="font-size:26px;">PichaZa</a>
      <a href="{% url 'welcome'%}"><i class="fas fa-camera" style="color;white;font-size:40px;margin-top:4px;"></i></a>
      <a href="{% url 'location_filter' %}" style="line-height:48px;padding-left:40px;font-size:20px;color:white;text-decoration:none;">LOCATIONS</a>

    </div>
    <div class="col-sm-4 col-md-4 navbar-right">

     <form class="navbar-form" role="search" action="{% url 'searching' %}" style="width:auto">

       <div class="input-group">
         <input type="text" class="form-control" placeholder="Search Images e.g travel" name="category" style="height:38.5px;">
         <div class="input-group-btn">
           <button class="btn btn-info btn-block" type="submit"><i class="glyphicon glyphicon-search"></i></button>
         </div>
       </div>

     </form>
   </div>
  </div>
</nav>
</body>
</html>
