{% extends 'base.html' %}
{% block content %}
{{block.super}}
{% block js%}
<script>
    function shareLink() {
      var copyLink = document.getElementById("link");
      copyLink.select();
      document.execCommand("Copy");
      alert("Link Copied: " + copyLink.value);
    }
  </script>
  {% endblock js%}
<div class="product">
  <div class="left-img2"><img src="{{image.pic.url}}" alt="" /></div>
  <div class="right-content">
    <div class="content-arrow"></div>
    <div class="content-container">
      <h2 style="font-family: 'Cabin Sketch', cursive;">{{image.name|upper}}</h2>
      <div class="bot-view">
        <div class="date" style="color:white; font-family: 'Concert One', cursive;">
          {% for locate in image.location.all%}
          {{image.upload_date}} / &nbsp<span class="under">{{locate.name}}</span>
          {% endfor %}
        </div>
        <hr class="line" />
        <div class="info" style="font-family: 'Arima Madurai', cursive; color:white">
          <div>
            <span>{{image.descripton}}</span>
          </div>
          <hr class="line" />
          <div class="footer">
            <div id="buttons">
              <input class="form-control" type="text" value="https://loca/media/{{image.pic}}" id="link">
           <a onclick="shareLink()" class="btn btn-primary text-center btn-block" style="margin-top:4px;">Copy link</a>
              <!-- <a href="#" class="btn btn-default btn-block">Copy Image link  &nbsp<i class="glyphicon glyphicon-paperclip"></i> -->
  </a></div>
    {% for categ in image.category.all%}
            <p>{{categ.name}}</p>
    {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
